@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

tui-app-bar {
  box-shadow: var(--tui-shadow-small);
  margin-block-end: 1rem;
  font-family: "Iosevka Charon Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.25rem;
  font-style: normal;
}
