.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}


.my-container {
  min-height: calc(100vh - 63px);
  font-family: "Ubuntu Sans", sans-serif;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}


.my-container {
  min-height: calc(100vh - 63px);
  font-family: "Ubuntu Sans", sans-serif;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
