<tui-textfield iconStart="@tui.message-square-quote"  [formGroup]="formGroup">
  <label tuiLabel>Cadastrar Citação</label>
  <textarea
    formControlName="quoteText"
    class="quote-input"
    required
    tuiTextarea
    [rows]="5"
    [min] = "1"
    [max]="5"
    [tuiTextfieldCleaner]="true"
  ></textarea>

  <button (click)="next()"  tuiIconButton tuiSlot="right" type="submit" size="s" iconStart="@tui.forward" appearance="outline-grayscale">
    Salvar Citação
  </button>
</tui-textfield>
