<header>
  <nav class="navbar navbar-expand-lg shadow menu">
    <div class="container-fluid">
      <a class="navbar-brand logo-text" href="#">
        <img src="assets/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <span class="d-none d-lg-inline-block me-1">Remember</span>
        <span class="blue-gray">Quotes</span>
      </a>
      <app-menu class="app-menu"></app-menu>
      <a class="d-none d-lg-block">reload</a>
    </div>
  </nav>
</header>
