<h2>Cadastrar Citação</h2>

<form  class="needs-validation" [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col-sm-12">
      <label for="text-quote" class="form-label">Citação</label>
      <input type="text" class="form-control" id="text-quote" placeholder="Insira a citação que deseja ser lembrado" value="" formControlName="quote" required>
      <div class="invalid-feedback">
        Insira uma citação valida.
      </div>
    </div>

    <div class="col-md-5">
      <label for="book-select" class="form-label">Selecione o Livro</label>
      <select class="form-select" id="book-select" formControlName="book" required>
        <option *ngFor="let book of books" [value]="book._links?.book?.href">{{book.name}}</option>
      </select>
      <div class="invalid-feedback">
        Por favor insira um valor valido
      </div>
    </div>
  </div>

  <hr class="my-4">

  <button class="w-100 btn btn-primary btn-lg" type="submit">Cadastrar citação</button>
</form>
